<div class="card">
    <div class="card-header">
        Reactive Customer Form
    </div>

    <div class="card-body">
        <form [formGroup]="customerForm" (ngSubmit)="onSubmit()"> 
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="firstNameId"> 
                    FirstName 
                    <span style="color: red"> * </span>
                </label>
                <div class="col-md-8">
                    <input class="form-control" 
                        type="text"
                        formControlName="firstName"
                        placeholder="First Name(Required)"
                        id="firstNameId"
                        [ngClass]="{'is-invalid': errorMsgs['firstName']}" />
                    <span class="invalid-feedback" *ngIf="errorMsgs['firstName']">
                        {{errorMsgs['firstName']}}
                    </span>
                </div>
            </div>

            <div class="form-group mb-2 row">
                <label class="col-md-2 col-form-label" for="lastNameId">
                    Last Name 
                    <span style="color: red"> * </span>
                </label>
                <div class="col-md-8">
                    <input class="form-control"
                            type="text"
                            id="lastNameId" 
                            placeholder="Last Name (required)"
                            formControlName="lastName"
                            [ngClass]="{'is-invalid': errorMsgs['lastName']}" />
                    <span class="invalid-feedback" *ngIf="errorMsgs['lastName']">
                        {{errorMsgs['lastName']}}
                    </span>
                </div>
            </div>

            <div class="form-group mb-2 row">
                <label class="col-md-2 col-form-label" for="emailId">
                    Email 
                    <span style="color: red"> * </span>
                </label>
                <div class="col-md-8"> 
                    <input class="form-control"
                        type="email"
                        id="emailId" 
                        placeholder="Email Id"
                        formControlName="email"
                        [ngClass]="{'is-invalid': errorMsgs['email']}" />
                    <span class="invalid-feedback" *ngIf="errorMsgs['email']">
                        {{errorMsgs['email']}}
                    </span>
                </div> 
            </div>

            <div class="form-group mb-2 row">
                <label class="col-form-label col-md-2" for="phoneId"> Phone </label>
                <div class="col-md-8">
                    <input class="form-control"
                        type="tel" 
                        id="phoneId"
                        formControlName="phone"
                        placeholder="Mobile Number"
                        [ngClass]="{'is-invalid': errorMsgs['phone']}" />
                    <span class="invalid-feedback" *ngIf="errorMsgs['phone']">
                        {{errorMsgs['phone']}}
                    </span>
                </div>
            </div>

            <div class="row form-group mb-2">
                <label class="col-form-label col-md-2 pt-0"> Notify Via </label>
                <div class="col-md-8">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    formControlName="notifyVia" 
                                    type="radio" value="email">
                            Email 
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" 
                                    formControlName="notifyVia" 
                                    type="radio" value="text">
                            Text
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-form-label col-md-2" for="birthDateId">
                    Birth Date 
                    <span style="color: red"> * </span>
                </label>
                <div class="col-md-8">
                    <input class="form-control"
                            id="birthDateId"
                            formControlName="birthDate"
                            type="date"
                            max="2004-01-24"
                            placeholder="Birth Date"
                            [ngClass]="{'is-invalid': errorMsgs['birthDate']}"/>
                    <span class="invalid-feedback" *ngIf="errorMsgs['birthDate']">
                        {{errorMsgs['birthDate']}}
                    </span>
                </div>
            </div>

            <div class="card mb-3 offset-md-2 " style="width: 600px;">
                <div class="card-header">
                    <label class="" for="startYearId">
                        Education Span 
                        <span style="color: red"> * </span>
                    </label>
                </div>
                <div class="card-body">
                    <div formGroupName="educationSpan">
                        <div class="row form-group mb-2">
                            <label class="col-form-label offset-md-1 col-md-3" for="startYearId"> Start Year: </label>
                            <div class="col-md-6">
                                <input class="form-control"
                                    type="month"
                                    id="startYearId"
                                    placeholder="Start Date"
                                    formControlName="startYear"
                                    [ngClass]="{'is-invalid': errorMsgs['startYear'] || errorMsgs['educationSpan']}"/>
                                <span class="invalid-feedback" *ngIf="errorMsgs['startYear']">
                                    {{errorMsgs['startYear']}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label offset-md-1 col-md-3" for="endYearId"> End Year: </label>
                            <div class="col-md-6">
                                <input class="form-control"
                                        id="endYearId" 
                                        type="month"
                                        formControlName="endYear"
                                        [ngClass]="{'is-invalid': errorMsgs['endYear'] || errorMsgs['educationSpan']}"/>
                                <span class="invalid-feedback" *ngIf="errorMsgs['endYear']">
                                    {{errorMsgs['endYear']}}
                                </span>
                                <span class="invalid-feedback" *ngIf="errorMsgs['educationSpan'] && !errorMsgs['endYear']">
                                    {{errorMsgs['educationSpan']}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3 col-md-10" >
                <div class="card-header">
                    <label class="" for="startYearId"> Work Experiences </label>
                    <i class="fa fa-plus float-end mt-1" (click)="addWorkExperience()"></i>
                </div>
                <div class="card-body">
                    <div class="accordion form-control" id="accordionExample" [ngClass]="{'is-invalid': errorMsgs['workExperiences']}">
                        <div formArrayName="workExperiences" *ngFor="let experince of workExperiences.controls; index as i">
                            <div class="accordion-item offset-md-2" [formGroupName]="i">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" 
                                        [ngClass]="{'collapsed': !experiencesAccordians[i]}"
                                        type="button" (click)="toggleExperiencesAccordians(i)">
                                        <span>
                                            <button mat-icon-button title="Remove Experience" [disabled]="isExperienceDisabled()"
                                                class="cust-icon-button" (click)="deleteExperience(i, $event)">
                                                 <mat-icon>delete</mat-icon>
                                                Delete
                                            </button>
                                            Experience #{{i + 1}}
                                        </span>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body" *ngIf="experiencesAccordians[i]" 
                                            [ngClass]="{'is-invalid': errorMsgs['workExperiences' + i]}">
                                        <div class="form-group mb-2 row">
                                            <label class="col-form-label col-md-3" [attr.for]="getControlId('companyId' , i)"> Company: </label>
                                            <div class="col-md-6">
                                                <input class="form-control"
                                                        [attr.id]="getControlId('companyId' , i)"
                                                        type="text"
                                                        formControlName="company"
                                                        [ngClass]="{'is-invalid': errorMsgs['company' + i]}" />
                                                <span class="invalid-feedback" *ngIf="errorMsgs['company'+ i]">
                                                    {{errorMsgs['company' + i]}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2 row">
                                            <label class="col-form-label col-md-3" [attr.for]="getControlId('startDateId' , i)"> Start Date: </label>
                                            <div class="col-md-6">
                                                <input class="form-control"
                                                        [attr.id]="getControlId('startDateId' , i)"
                                                        type="date"
                                                        formControlName="startDate"
                                                        [ngClass]="{'is-invalid': errorMsgs['startDate' + i] || errorMsgs['workExperiences' + i]}" />
                                                <span class="invalid-feedback" *ngIf="errorMsgs['startDate' + i]">
                                                    {{errorMsgs['startDate' + i]}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2 row">
                                            <label class="col-form-label col-md-3" [attr.for]="getControlId('endDateId' , i)"> End Date: </label>
                                            <div class="col-md-6">
                                                <input class="form-control"
                                                        [attr.id]="getControlId('endDateId' , i)"
                                                        type="date"
                                                        formControlName="endDate"
                                                        [ngClass]="{'is-invalid': errorMsgs['endDate' + i] || errorMsgs['workExperiences' + i]}" />
                                                <span class="invalid-feedback" *ngIf="errorMsgs['endDate' + i] || errorMsgs['workExperiences' + i]">
                                                    <span *ngIf="errorMsgs['endDate' + i]" > {{errorMsgs['endDate' + i]}} </span>
                                                    <span *ngIf="errorMsgs['workExperiences' + i]"> {{errorMsgs['workExperiences' + i]}} </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2 row">
                                            <div class="col-md-8">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="isThisCurrentCompanyId" type="checkbox"
                                                            formControlName="isThisCurrentCompany"> Current Company
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="invalid-feedback" *ngIf="">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="errorMsgs['workExperiences']">
                        {{errorMsgs['workExperiences']}}
                    </div>
                </div>
            </div>

            <div class="form-group mb-2 row">
                <div class="offset-md-2 col-md-2"> 
                    <button class="btn btn-primary" type="submit"
                        style="width: 180px;"
                        [disabled]="!customerForm.valid"
                        [title]="customerForm.valid ? 'Save Your changes' : 'Disabled until form data is valid' ">
                        Save 
                    </button>
                </div>

                <div class="col-md-2"> 
                    <button class="btn btn-primary"
                        style="width: 180px;"
                        (click)="clearData()">
                        Reset
                    </button>
                </div>

                <div class="col-md-2"> 
                    <button class="btn btn-primary"
                        style="width: 180px;"
                        (click)="setTestData()">
                        Set Data 
                    </button>
                </div>

                <div class="col-md-3"> 
                    <button class="btn btn-primary"
                        style="width: 180px;"
                        (click)="patchData()">
                        Patch Data 
                    </button>
                </div>
            </div>

            <div class="form-group mb-2 row">
                <div class="offset-md-2 col-md-2"> 
                    <button class="btn btn-primary"
                        style="width: 180px;"
                        (click)="getValue()">
                        Get Value
                    </button>
                </div>

                <div class="offset-md-2  col-md-2"> 
                    <button class="btn btn-primary"
                        style="width: 180px;"
                        (click)="getRawValue()">
                        Get Raw Value 
                    </button>
                </div>
            </div>


            <div class="form-group mb-2 row">
                <div class="offset-md-1 col-md-4" *ngIf="formValue"> 
                    <span> Value: {{formValue | json}} </span>
                </div>

                <div class="offset-md-1 col-md-4" *ngIf="rawValue"> 
                    <span> Raw Value: {{rawValue | json}} </span>
                </div>
            </div>
        </form>
    </div>
</div>